{{! The social media footer template }}

<div id="social_media_td1">
	<a href="#" class="social_link_td1"><span class="icon-twitter"></span></a>
	<a href="#" class="social_link_td1"><span class="icon-feed"></span></a>
</div>