{{! The social media footer template }}

{{! Change the href attributes to your real accounts urls}}

<div id="socialmedia_slb">
	<a href="#" class="sociallink_slb"><span class="icon-facebook"></span></a>
	<a href="#" class="sociallink_slb"><span class="icon-twitter"></span></a>
	<a href="#" class="sociallink_slb"><span class="icon-google-plus"></span></a>
	<a href="#" class="sociallink_slb"><span class="icon-feed"></span></a>
</div>