// common stuff (this section must be identical to style.css)...
$base-size: 1em;
$base-color: #e1ece0;
$comp-color: #ffd5a0;
$background-color: lighten( $base-color, 9% );

// post controls...
$post-text-color: darken( $base-color, 70% );
$post-link-color: darken( $comp-color, 50% );
$post-details-color: darken( $base-color, 50% );
$post-details-link-color: darken( $comp-color, 40% );
$post-font: 'PT Serif', serif;
$post-details-font: 'PT Sans', sans-serif;
$post-border-color: darken( $base-color, 30% );

// this is very strange, but it fixes a bug in Safari...
// see: http://stackoverflow.com/questions/6655364/css-attribute-selector-descendant-gives-a-bug-in-webkit
[class]{}

.post_td1 {
  color: $post-text-color;
  font-family: $post-font;
  font-size: 90%;
  border-bottom: 1px solid $post-border-color;

  .post_title_td1 {
    display: none;
  }
  .post_content_td1 {

    p {
      clear: both;
    }

    a:link, a:visited {
      color: $post-text-color;
      text-decoration: none;
      border-bottom: 1px dotted $post-link-color;
    }

    a:hover, a:active {
      color: $post-link-color;
      text-decoration: none;
      border-bottom: 1px solid $post-link-color;
    }

    .post_fixed_title_td1 {
      font-size: 105%;
      font-weight: bold;

      a:link, a:visited {
        color: $post-text-color;
        text-decoration: none;
        border-bottom: 0 none white;
      }

      a:hover, a:active {
        color: $post-link-color;
        text-decoration: none;
        border-bottom: 1px solid $post-link-color;
      }
    }

    img[class=''] {
      max-width: 100px;
      display: none;
    }
  }

  .img_left_td1 {
    float: left;
    display: block;
    margin-right: 5px;
  }

  .img_right_td1 {
    float: right;
    display: block;
    margin-left: 5px;
  }

  .img_inline_td1 {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
  }

  .img_small_td1 {
    max-width: $base-size * 10;
  }

  .img_medium_td1 {
    max-width: $base-size * 15;
  }

  .img_large_td1 {
    max-width: $base-size * 22.5;
  }

  .img_framed_td1 {
    background-color: darken( $background-color, 10% );
    padding: 2px;
    border: 1px solid $post-text-color;
  }

  .post_details_td1 {
    font-family: $post-details-font;
    font-style: italic;
    font-size: 75%;
    color: $post-details-color;
    text-align: right;
    clear: both;

    a:link, a:visited {
      color: $post-details-color;
      text-decoration: none;
    }

    a:hover, a:active {
      color: $post-details-link-color;
      text-decoration: underline;
    }
  }
}
