.post_td1 {
  color: #294027;
  font-family: "PT Serif", serif;
  font-size: 90%;
  clear: both;
  border-bottom: 1px solid #85b281; }
  .post_td1 .post_title_td1 {
    display: none; }
  .post_td1 .post_content_td1 a:link, .post_td1 .post_content_td1 a:visited {
    color: #294027;
    text-decoration: none;
    border-bottom: 1px dotted #a05900; }
  .post_td1 .post_content_td1 a:hover, .post_td1 .post_content_td1 a:active {
    color: #a05900;
    text-decoration: none;
    border-bottom: 1px solid #a05900; }
  .post_td1 .post_content_td1 .post_fixed_title_td1 {
    font-size: 105%;
    font-weight: bold; }
    .post_td1 .post_content_td1 .post_fixed_title_td1 a:link, .post_td1 .post_content_td1 .post_fixed_title_td1 a:visited {
      color: #294027;
      text-decoration: none;
      border-bottom: 0 none white; }
    .post_td1 .post_content_td1 .post_fixed_title_td1 a:hover, .post_td1 .post_content_td1 .post_fixed_title_td1 a:active {
      color: #a05900;
      text-decoration: none;
      border-bottom: 1px solid #a05900; }
  .post_td1 .post_details_td1 {
    font-family: "PT Sans", sans-serif;
    font-style: italic;
    font-size: 75%;
    color: #527f4e;
    text-align: right; }
    .post_td1 .post_details_td1 a:link, .post_td1 .post_details_td1 a:visited {
      color: #527f4e;
      text-decoration: none; }
    .post_td1 .post_details_td1 a:hover, .post_td1 .post_details_td1 a:active {
      color: #d37600;
      text-decoration: underline; }
