$base-size: 1em;
$base-color: #e1ece0;
$background-color: lighten( $base-color, 5%);

// header controls...
$header-text-color: darken( $base-color, 65%);
$header-font: 'Finger Paint', sans-serif;
$header-padding: 10px;

// responsiveness thresholds...
$header-width-trigger: 1200px;

body {
  background-color: $background-color;
  font-size: $base-size;
}

.blog_header_td1 {
  color: $header-text-color;
  position: relative;
  border-bottom: 2px solid $header-text-color;
  margin-bottom: 10px;

  .blog_header_background_td1 {
    position: absolute;
    overflow: hidden;
    background: url(/assets/images/Race_pond_mountains.jpg) no-repeat center center;
    background-size: 100%;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }

  .blog_header_inner_td1 {
    position: relative;
    z-index: 10;
    padding: $header-padding;

    a:link {
      color: $header-text-color;
      text-decoration: none;
    }

    a:visited {
      color: $header-text-color;
      text-decoration: none;
    }

    a:hover {
      color: red;
      text-decoration: underline;
    }

    a:active {
      color: red;
      text-decoration: underline;
    }

    .blog_name_td1 {
      font-family: $header-font;
      font-size: 450%;
      @media screen and (max-width: $header-width-trigger - 1px) {
        display: inline-block;
      }
      @media screen and (min-width: $header-width-trigger) {
        display: block;
      }
    }

    .blog_description_td1 {
      font-family: $header-font;
      font-size: 100%;
      @media screen and (max-width: $header-width-trigger - 1px) {
        display: block;
        right: auto;
      }
      @media screen and (min-width: $header-width-trigger) {
        display: inline-block;
        position: absolute;
        right: $header-padding;
        top: $header-padding;
      }
    }
  }
}
