body {
  background-color: #fdfdfc;
  font-size: 1em; }

.blog_header_td1 {
  color: #335031;
  position: relative;
  border-bottom: 2px solid #335031;
  margin-bottom: 10px; }
  .blog_header_td1 .blog_header_background_td1 {
    position: absolute;
    overflow: hidden;
    background: url(/assets/images/Race_pond_mountains.jpg) repeat-y center center;
    background-size: 100%;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto; }
  .blog_header_td1 .blog_header_inner_td1 {
    position: relative;
    z-index: 10; }
    .blog_header_td1 .blog_header_inner_td1 a:link, .blog_header_td1 .blog_header_inner_td1 a:visited {
      color: #335031;
      text-decoration: none; }
    .blog_header_td1 .blog_header_inner_td1 a:hover, .blog_header_td1 .blog_header_inner_td1 a:active {
      color: #542f00;
      text-decoration: underline; }
    .blog_header_td1 .blog_header_inner_td1 .blog_name_td1 {
      font-family: "Finger Paint", sans-serif;
      font-size: 350%;
      display: inline-block;
      width: auto;
      padding: 0.25em;
      white-space: nowrap; }
    .blog_header_td1 .blog_header_inner_td1 .blog_description_wide_container_td1 {
      display: none; }
      .blog_header_td1 .blog_header_inner_td1 .blog_description_wide_container_td1 .blog_description_td1 {
        font-family: "Finger Paint", sans-serif;
        font-size: 70%;
        padding: 0.25em; }
    .blog_header_td1 .blog_header_inner_td1 .blog_description_narrow_container_td1 {
      display: none; }
      .blog_header_td1 .blog_header_inner_td1 .blog_description_narrow_container_td1 .blog_description_td1 {
        font-family: "Finger Paint", sans-serif;
        font-size: 70%;
        padding: 0.25em; }

.index_td1 {
  margin-left: auto;
  margin-right: auto;
  width: 95%; }
  @media screen and (min-width: 320px) {
    .index_td1 {
      width: 90%; } }
  @media screen and (min-width: 480px) {
    .index_td1 {
      width: 85%; } }
  @media screen and (min-width: 768px) {
    .index_td1 {
      width: 80%; } }
  @media screen and (min-width: 960px) {
    .index_td1 {
      width: 70%; } }
  @media screen and (min-width: 1280px) {
    .index_td1 {
      width: 60%; } }
